<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <title>Django Central</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/png" href="/media/images/favicon.webp"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'blog/css/style.css' %}" type="text/css">
    </head>

    <body>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" href="/">Home</a>-->
      <!--</li>-->
    </ul>
      {% if user.is_authenticated %}
      <a href="{% url 'log_out' %}" class="log-out" style="margin-right: 15px">Log Out</a>
      <a href="{% url 'profile' %}" class="profile">Profile</a>
      {% else %}
      <!--href="{% url 'face_auth' %}"-->
      <a id="play" class="face-rec" style="margin-right: 15px">Face-auth</a>
      <a href="/log-in" class="log-in" style="margin-right: 15px">Log In</a>
      <a href="{% url 'sign_up' %}" class="sign-up">Sign Up</a>
      {% endif %}
  </div>
</nav>
        <video id="webcam" autoplay muted playsinline width="720" height="560"></video>
        <canvas id="canvas" width="720" height="560"></canvas>
        <a href="" id="download-photo" download>photo</a>

        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
        <!-- Footer -->
        <footer class="py-3 bg-grey">
            <p class="m-0 text-dark text-center ">Copyright &copy; Davit</p>
        </footer>

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-webcam/1.0.0/jquery.webcam.min.js" integrity="sha512-bTfNSUABHISn7mcOc9mM5xDipX1v7qcfilknueD19cxJ0gTO2/Y2iIByraL01gzsHarb5jyzbgKplvYPAXhnmg==" crossorigin="anonymous"></script>-->
        <script src="{% static 'blog/js/face-api.min.js' %}"></script>
        <script type="text/javascript" src="https://unpkg.com/webcam-easy/dist/webcam-easy.min.js"></script>
        <script src="{% static 'blog/js/auth.js' %}"></script>


        <script>
            $( document ).ready(function() {
                $('.face-rec').click(function(e){
                    e.preventDefault();
                    console.log("kilk");
                    $.ajax({
                        url: '{% url "face_auth" %}',
                        data: {
                          'madara': "MADARA",
                        },
                        dataType: 'json',
                        success: function (data) {
                          if (data.success) {
                            alert("A user with this username already exists.");
                          }
                        }
                    });
                });

                const video = document.getElementById('webcam');
                const canvasElement = document.getElementById('canvas');
                const webcam = new Webcam(video, 'user', canvasElement);
                Promise.all([
                    faceapi.nets.tinyFaceDetector.loadFromUri('./models'),
                ])

                async function playVideo() {
                const stream = await navigator.mediaDevices.getUserMedia({ video: {} });
                video.srcObject = stream
                }

                $('#play').click(function() {
                  playVideo();
                })

                video.addEventListener('play', (e) => {
                  const canvas = faceapi.createCanvasFromMedia(video)
                  document.body.append(canvas)
                  const displaySize = { width: video.width, height: video.height }
                  faceapi.matchDimensions(canvas, displaySize)

                setInterval(async () => {
                  const detections = await faceapi.detectAllFaces(video, new faceapi.TinyFaceDetectorOptions())
                  const resizedDetections = faceapi.resizeResults(detections, displaySize)
                  canvas.getContext('2d').clearRect(0, 0, canvas.width, canvas.height)
                  faceapi.draw.drawDetections(canvas, resizedDetections)

                  if (detections.length != 0) {
                    var context = document.getElementById('canvas').getContext('2d')
                    context.drawImage(video, 0, 0, 720, 560)
                    var shmanvas = document.getElementById('canvas')
                    $("#canvas").hide();
                      var img = shmanvas.toDataURL("image/jpeg");
                      $('#download-photo').attr('href', img);
                      video.pause();
                  }
                  })
                }, 100)
            });
        </script>

    </body>
</html>